@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300&display=swap");

/* base styles */
/* body {
  margin: 0;
  font-family: "Radio Canada";
  background-color: #011627;
}

h1 {
  color: #f2e9e4;
}

h2 {
  color: #f4ecd6;
  margin: 0;
}

h4,
h5,
h6 {
  color: #d5fff3;
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

label {
  color: #f4ecd6;
} */

/* Navbar */
/* .navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.title {
  color: #f1356d;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: #f2e9e4;
}

.navbar a:hover {
  color: #f1356d;
}

.navbar li {
  display: inline;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.nav-img-avatar {
  object-fit: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
} */

/* Article Card */
/* .articleCard {
  border-style: solid;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-color: #4b88a2;
  max-width: 800px;
}

.articleCard:hover {
  border-color: #f2f2f2;
}

.articleCardLink {
  text-decoration: none;
}

.topic {
  color: #ff5a5f;
  display: inline;
  text-decoration: none;
}

.topicLink {
  text-decoration: none;
}

.topicLink:hover {
  color: #f1356d;
}

.author {
  display: inline;
  margin-left: 20px;
}

.fullArticle {
  margin-left: 20px;
  margin-right: 20px;
}

.commentList {
  margin-top: 10px;
  border-style: solid;
  border: 1px solid black;
  border-radius: 5px;
}

.commentCard {
  background-color: #5adbff;
  margin-bottom: 10px;
} */

/* Article List */
/* .sort_by {
  margin-left: 20px;
  margin-right: auto;
} */
